.card {
  display: flex;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  margin: 16px 16px 64px 16px;
  border-radius: 4px;
  background-color: white;
  img {
    width: 300px;
    object-fit: cover;
  }
  p {
    padding: 32px;
  }
}

.card:hover {
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.3);
}

.card-skills {
  display: flex;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  margin: 16px 16px 64px 16px;
  border-radius: 4px;
  background-color: white;
  justify-content: space-around;
}

.card-skills-sub {
  padding: 32px;
  width: 300px;
  text-align: center;
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
    transition: 0.2s;
  }
  li:hover {
    background-color: white;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
    font-weight: bolder;
  }
  .list-item {
    padding: 8px;
    margin: 4px 0px;
    border: 1px solid lightgrey;
    border-radius: 4px;
  }
}

.card-contacts {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  margin: 16px 16px 64px 16px;
  border-radius: 4px;
  background-color: white;
}

.card-contacts-items {
  width: 33%;
  text-align: center;
  h2 {
    font-family: "Ubuntu Condensed", cursive;
    text-transform: uppercase;
    color: #1761a0;
  }
  i {
    font-size: 32px;
    border-radius: 2px;
  }
  a {
    color: black;
    &:hover {
      color: grey;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    display: block;
    width: 90vw;
    margin: 16px auto 64px auto;
    img {
      width: 90vw;
      height: 300px;
      object-fit: cover;
    }
  }
  .card-skills {
    display: flex;
    width: 90vw;
    margin: 16px auto 64px auto;
    flex-direction: column;
  }

  .card-skills-sub {
    width: 90%;
    margin: auto;
    padding: 8px;
    overflow: auto;
  }
  .card-title {
    width: 90vw;
    margin: auto;
  }
}

@media only screen and (max-width: 800px) {
  .card-contacts {
    display: block;
    height: auto;
    margin: auto;
  }
  .card-contacts-items {
    width: 100%;
    margin: 32px auto;
    padding: 12px 0px;
  }
}
