.card {
  display: flex;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  margin: 16px 16px 64px 16px;
  border-radius: 4px;
  background-color: white;
  img {
    width: 300px;
  }
  p {
    padding: 32px;
  }
}

.card:hover {
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.3);
}

.card-skills {
  display: flex;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  margin: 16px 16px 64px 16px;
  border-radius: 4px;
  background-color: white;
  justify-content: space-around;
}

.card-skills-sub {
  padding: 32px;
  width: 300px;
  text-align: center;
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
  li:hover {
    opacity: 0.5;
  }
  .list-item {
    padding: 8px;
    margin: 4px 0px;
    border: 1px solid lightgrey;
    border-radius: 4px;
  }
}
