.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0px 50px;
  color: black;
  opacity: 0.5;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #1761a0;
  opacity: 1;
}

.footer-copyright {
  a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }
}

@media only screen and (max-width: 1000px) {
  .footer {
    padding: 0px 20px;
  }
  .footer-copyright {
    display: none;
  }
}
