body {
  // color: #1761a0;
  // color2: #e07f00;
  color: black;
  margin-top: 0px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Sriracha', cursive;
  font-weight: normal;
}

.container {
  width: 1000px;
  margin: auto;
}
