$base-color: #1761a0;
$secondary-color: #e07f00;
$header-font: 'Ubuntu Condensed';
$text-font: 'Roboto';

body {
  color: black;
  margin: 0px;
  font-family: $text-font, sans-serif;
  background: linear-gradient(to left bottom, rgb(150, 150, 150), white);
}

a {
  text-decoration: none;
}

h1 {
  margin-left: 16px;
  font-family: $header-font, cursive;
  font-weight: normal;
  font-size: 24px;
  color: $base-color;
}

h3 {
  color: $base-color;
}

.container {
  width: 1000px;
  margin: auto;
}

.my-content {
  margin-top: 100px;
}
