$base-color: #1761a0;

body {
  // color:
  // color2: #e07f00;
  color: black;
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to left bottom, rgb(200, 200, 200), white);
}

a {
  text-decoration: none;
}

h1 {
  margin-left: 16px;
  font-family: 'Ubuntu Condensed', cursive;
  font-weight: normal;
  font-size: 24px;
  color: $base-color;
}

h3 {
  color: $base-color;
}

.container {
  width: 1000px;
  margin: auto;
}
