.interest-item {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: top;
  margin: 32px 16px;
}

.interest-item img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.interest-item h1 {
  color: #e07f00;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.interest-item p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.interest-item .interest-item-infos {
  padding: 16px;
}

@media only screen and (max-width: 1000px) {
  .interest-item {
    height: 250px;
    img {
      height: 250px;
      width: 250px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .interest-item {
    height: auto;
    width: 600px;
    margin: 32px auto;
    display: block;
    img {
      height: 600px;
      width: 600px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .interest-item {
    height: auto;
    width: 100%;
    margin: 32px auto;
    display: block;
    img {
      height: auto;
      width: 100%;
    }
  }
}

