/* Add a black background color to the top navigation */
.navbar {
  z-index: 4;
  width: 100%;
  display: flex;
  margin: 0px;
  padding: 8px 8px;
  justify-content: space-between;
  box-shadow-bottom: 2px 1px black;
  position: fixed;
  top: 0;
  transition: all 0.3s;
}

.navbar-logo {
  padding-left: 32px;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-family: "Ubuntu Condensed", cursive;
  img {
    width: 80px;
    height: 40px;
  }
}
.navbar-menu-mobile-button {
  display: none;
}

.navbar-menu {
  display: flex;
  align-items: center;
  font-family: "Ubuntu Condensed", cursive;
  padding-right: 64px;
}

/* Style the links inside the navigation bar */
.navbar a {
  text-align: center;
  margin: 6px 10px;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 20px;
  color: black;
}

/* Change the color of links on hover */
.navbar-menu a:hover {
  color: white;
  background-color: #1761a0;
  border-radius: 4px;
  transition: all 500ms ease;
}

/* Add a color to the active/current link */
.navbar a.active {
  color: black;
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.navbar-menu-mobile {
  transform: scale(0);
}

@media only screen and (max-width: 1000px) {
  .navbar-menu {
    display: none;
  }

  .navbar-menu-mobile {
    transform: scale(0);
    transition: transform 0.2s;
    text-align: right;
    background-color: white;
    position: fixed;
    z-index: 100;
    top: 64px;
    right: 16px;
    border: 1px black solid;
    border-radius: 4px;
  }

  .show-navbar-menu-mobile {
    transform: scale(1);
  }

  .nav-menu-mobile-item {
    padding: 8px 32px;
    margin: 1px;
    a {
      font-size: 24px;
      text-decoration: none;
      color: black;
      font-family: "Ubuntu Condensed", cursive;
    }
  }

  .navbar-logo {
    padding-left: 16px;
  }

  .navbar-menu-mobile-button {
    cursor: pointer;
    display: block;
    h1 {
      font-size: 32px;
      color: black;
      font-weight: 100;
      margin: 12px 32px 2px 2px;
      padding: 0px 16px 0px 16px;
      border-radius: 4px;
    }
  }
}
