/* Add a black background color to the top navigation */
.navbar {
  width: 100%;
  display: flex;
  margin: 0px;
  padding: 16px 8px;
  justify-content: space-between;
  box-shadow-bottom: 2px 1px black;
}

.navbar-logo {
  padding-left: 32px;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-family: 'Ubuntu Condensed', cursive;
  img {
    width: 80px;
    height: 40px;
  }
}

.navbar-menu {
  display: flex;
  align-items: center;
  font-family: 'Ubuntu Condensed', cursive;
  padding-right: 64px;
}

/* Style the links inside the navigation bar */
.navbar a {
  text-align: center;
  margin: 10px 10px;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 20px;
  color: black;
}

/* Change the color of links on hover */
.navbar a:hover {
  color: white;
  background-color: #1761a0;
  border-radius: 4px;
}

/* Add a color to the active/current link */
.navbar a.active {
  color: black;
}
