<div class="footer">
  <div class="footer-links">
    Follow me on
    <a href="https://github.com/vladiangelov" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/vladislav-angelov/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.hackerrank.com/vladislav_angel1" target="_blank"><i class="fab fa-hackerrank"></i></a>
    <a href="https://www.codewars.com/users/vladiangelov" target="_blank"><i class="fas fa-fan"></i></a>
    <a href="https://www.facebook.com/vladislav.angelov.904" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Made using <a href="https://www.middlemanapp.com" target="_blank">MiddleMan</a> by VladiAngelov
  </div>
</div>
