<nav class="navbar" id="navbar2">
  <div class="navbar-logo">
    <img src="/images/logo_small.png">
    VladiAngelov
  </div>
  <div class="navbar-menu">
    <a class="active" href="/index.html">About me</a>
    <a href="/projects.html">Projects</a>
    <a href="#">Interests</a>
    <a href="#">Contact</a>
  </div>
</nav>
