<nav class="navbar" id="navbar2">
  <div class="navbar-logo">
    <img src="/images/logo_small.png">
    VladiAngelov
  </div>
  <div class="navbar-menu">
    <%= link_to 'About', '/index.html' %>
    <%= link_to 'Projects', '/projects.html' %>
    <a href="#">Interests</a>
    <a href="#">Contact</a>
  </div>
</nav>
