<nav class="navbar">
  <div class="navbar-logo">
    <img src="/images/logo_small.png">
    Vladi Angelov
  </div>
  <div class="navbar-menu">
    <a class="active" href="#">About me</a>
    <a href="#">Projects</a>
    <a href="#">Interests</a>
    <a href="#">Contact</a>
  </div>
</nav>
