<li class="tooltip list-item">
    <%= title %>
    <div class="bottom">
        <%= image_tag image_address, width: 75, height: 75%>
        <% if image_address_two %>
          <%= image_tag image_address_two, width: 75, height: 75%>
        <% end %>
    </div>
</li>