body {
  color: black;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 50%;
  background-size: 100% 100%; }

a {
  text-decoration: none; }

h1 {
  margin-left: 16px;
  font-family: "Ubuntu Condensed", cursive;
  font-weight: normal;
  font-size: 24px;
  color: #1761a0; }

h3 {
  color: #1761a0; }

p {
  font-family: "Roboto"; }

.container {
  width: 1000px;
  margin: auto;
  min-height: calc(100vh - 151px); }

.my-content {
  margin-top: 100px; }

@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
    margin: auto; }
  .my-content {
    margin-top: 100px;
    width: 100%; } }

.index-links {
  color: #1761a0; }
  .index-links:hover {
    color: #e07f00; }

#v-letter {
  color: #1761a0;
  text-shadow: 1px -1px 2px black; }

#a-letter {
  color: #e07f00;
  text-shadow: 1px -1px 2px black; }
