.view {
  margin: 16px;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border-radius: 8px; }
  .view .mask {
    width: 1000px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(23, 97, 160, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .view img {
    display: block;
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: 1000px;
    height: 300px; }
  .view h2 {
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 32px;
    font-family: "Ubuntu Condensed", cursive;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .view p {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 24px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }

.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  font-family: "Ubuntu Condensed", cursive;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 1px #000;
          box-shadow: 0 0 1px #000;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  bottom: 8px; }

.view a.info:hover {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000; }

.view-first:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

.view-first:hover .mask {
  opacity: 1; }

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px); }

.view-first:hover p {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.view-first:hover a.info {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.ribbon {
  z-index: 1;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: -10px; }

.ribbon-left {
  left: -10px; }

.ribbon-right {
  right: 20px; }

.ribbon span {
  position: absolute;
  display: block;
  width: 150px;
  padding: 5px 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 10px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
  top: 40px; }

.ribbon-left span {
  background-color: red;
  left: -20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.ribbon-right span {
  background-color: #008db8;
  right: -20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

@media only screen and (max-width: 1000px) {
  .view .mask {
    width: 100%; }
  .view .ribbon-right {
    right: 0px; }
  .view .ribbon-right span {
    right: -30px; }
  .view img {
    width: 100%; }
  .view p {
    font-size: 20px; } }
