---
title: Vladi Angelov
---
<div class="my-content">
  <div>
    <h1>Contact</h1>
  </div>
  <div class="card-contacts">
    <div class="card-contacts-items">
      <h2>MESSAGE ME</h2>
      <i class="fas fa-comments"></i>
      <p>LinkedIn/Facebook</p>
    </div>
    <div class="card-contacts-items">
      <h2>WHERE AM I?</h2>
      <i class="fa fa-map-marker"></i>
      <p>Currently in Crawley, West Sussex</p>
    </div>
    <div class="card-contacts-items">
      <h2>E-MAIL ME</h2>
      <i class="fa fa-envelope"></i>
      <p>vladislav_angelov@yahoo.com</p>
    </div>



  </div>
</div>
