---
title: Vladi Angelov
---
<div class="my-content">
  <div>
    <h1 class="card-title">Profile</h1>
  </div>
  <div class="card">
    <%= image_tag '/images/vladi.jpg' %>
    <p>Hi, my name is Vladi Angelov, a Bulgarian / British citizen living in Crawley, West Sussex.
    <br><br>
    I have a Master's degree in Geophysics and for nearly 9 years I worked for the largest company in this field - <a class="index-links" href="https://www.cgg.com" target="_blank">CGG</a>. Starting as a junior scientist and becoming a team leader in a few years, I am an expert in data processing, analysis and data science.
    <br><br>
    Although I love geoscience, throughout my career I enjoyed programming the most and in 2019 I took some time to grow my expertise in <strong>Web Development</strong> and <strong>Computer Science</strong>, by taking a 6 month intensive coding bootcamp at Le Wagon, followed by another 6 month Computer Science for Web Development course by Harvard University.
    <br><br>
    Since 2020 I am part of the product team of <a class="index-links" href="https://www.sleepstation.org.uk" target="_blank">Sleepstation</a>, working as a Full Stack Developer. My core tech stack is <strong>Ruby on Rails</strong> and <strong>React</strong>, however I do have some experience with <strong>Django</strong> and <strong>Flask</strong> too. I have recently become interested in Functional Programming and <strong>Ramda</strong> too.
    <br><br>
    I am also quite confident with building and using <strong>REST APIs</strong>, have significant experience working with <strong>GraphQL</strong> and years of experience with HTML, CSS/SCSS, SQL, vanilla JavaScript and Bootstrap to mention a few.
    <br>
  </div>
  <div>
    <h1 class="card-title">Skills</h1>
  </div>
  <div class="card-skills">
    <div class="card-skills-sub">
      <h3>Web Development</h3>
      <ul>
        <% data.skills.web_dev.each do |skill| %>
          <%= partial(:'partials/skill_card', locals: {
            title: skill.title,
            image_address: skill.image_address,
            image_address_two: skill.image_address_two
          }) %>
        <% end %>
      </ul>
    </div>
    <div class="card-skills-sub">
      <h3>Software</h3>
      <ul>
        <% data.skills.software.each do |skill| %>
          <%= partial(:'partials/skill_card', locals: {
            title: skill.title,
            image_address: skill.image_address,
            image_address_two: skill.image_address_two
          }) %>
        <% end %>
      </ul>
    </div>
    <div class="card-skills-sub">
      <h3>Other</h3>
      <ul>
        <% data.skills.other.each do |skill| %>
          <%= partial(:'partials/skill_card', locals: {
            title: skill.title,
            image_address: skill.image_address,
            image_address_two: skill.image_address_two
          }) %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
