---
title: Vladi Angelov
---
<div class="my-content">
  <div>
    <h1>About me</h1>
  </div>
  <div class="card">
    <img src="images/vladi.jpg" alt="">
    <p>Graduated with a Master's degree in Geophysics, I have always been passionate about science and technology.
    <br><br>So, I launched We Play Sport, the first crowdfunding platform full dedicated to sport and adventure projects (2013/2017).
    <br><br>After this amazing entrepreneurial experience, I joined Kollab (early stage SaaS project) as an Acqusition Manager BtoB, and I created a personnal side project (Fans Finger).
    <br><br>In 2019, I decided to take some time to grow my expertise fields in topics that excite me, such as Web Development and Computer Science.
    <br><br>So, I've completed Le Wagon coding bootcamp (London, Batch #317 - Oct2019 to Mar2020) to add technical skills to my profile (HTML, CSS, Bootstrap, Javascript, RubyOnRails).
    <br><br>Currently Geoscience Team Leader at CGG, I am available for a new challenge from April 2020.</p>
  </div>
  <div>
    <h1>Skills</h1>
  </div>
  <div class="card-skills">
    <div class="card-skills-sub">
      <h3>Web Development</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="card-skills-sub">
      <h3>Software</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="card-skills-sub">
      <h3>Others</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
</div>
