---
title: Vladi Angelov
---
<div class="my-content">
  <div>
    <h1>Profile</h1>
  </div>
  <div class="card">
    <%= image_tag '/images/vladi.jpg' %>
    <p>Hi, my name is Vladi Angelov, a Bulgarian / British citizen living in Crawley, West Sussex.
    <br><br>Graduated with a Master's degree in Geophysics, I have always been passionate about science and technology.
    <br><br>For the last 8 years I have had the amazing opportunity to work for one of the largest geoscience service companies in the world - CGG.
    <br><br>At the end of 2019, I decided to take some time to grow my expertise in topics that excite me, such as <strong>Web Development</strong> and <strong>Computer Science</strong>.
    <br><br>So, I've nearly completed the Le Wagon coding bootcamp (London, Batch #317 - Oct2019 to Mar2020) to add technical skills to my profile (<strong>HTML, CSS/Sass, Bootstrap, Javascript, Ruby, Ruby on Rails</strong> to mention a few).
    <br><br>Currently working as a Geoscience Team Leader at CGG.</p>
  </div>
  <div>
    <h1>Skills</h1>
  </div>
  <div class="card-skills">
    <div class="card-skills-sub">
      <h3>Web Development</h3>
      <ul>
        <li class="list-item" href="#">HTML5</li>
        <li class="list-item">CSS3/Sass</li>
        <li class="list-item">JavaScript (ES6)</li>
        <li class="list-item">Bootstrap</li>
        <li class="list-item">Ruby</li>
        <li class="list-item">Ruby on Rails</li>
        <li class="list-item">PostgreSQL</li>
      </ul>
    </div>
    <div class="card-skills-sub">
      <h3>Software</h3>
      <ul>
        <li class="list-item">Jira</li>
        <li class="list-item">Trello</li>
        <li class="list-item">Heroku</li>
        <li class="list-item">git</li>
        <li class="list-item">GitHub</li>
      </ul>
    </div>
    <div class="card-skills-sub">
      <h3>Others</h3>
      <ul>
        <li class="list-item">Python (basic)</li>
        <li class="list-item">Octave / Matlab</li>
        <li class="list-item">APIs</li>
        <li class="list-item">MiddleMan</li>
        <li class="list-item">Data Analysis</li>
        <li class="list-item">Data Processing</li>
      </ul>
    </div>
  </div>
</div>
