---
title: Vladi Angelov - Interests
---
<div class="my-content">
  <h1>Interests</h1>
  <div class="interest-item">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSTHB0xV8Q83doIORX8G7NXBS8cp96UUoqwjd2-Avr0viEKuam5" />
    <div class="interest-item-infos">
      <h1>Volleyball</h1>
      <p>When I was a teenager, I used to play volleyball quite seriously for a few years. (Un)luckily I never grew up tall enough to be considered for any professional teams.
        <br><br>
        I re-started playing in England after quite a few years of inactivity, where I co-founded a Volleyball Club in Crawley and I am currently competing at amateur level in the local Surrey and Sussex Volleyball Leagues.
      </p>
    </div>
  </div>
  <div class="interest-item">
    <img src="https://images.unsplash.com/photo-1551698618-1dfe5d97d256?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" />
    <div class="interest-item-infos">
      <h1>Skiing</h1>
      <p>I only started skiing very recently, but this is by far my favorite hobby now. I love the Alps, especially the Dolomites in Italy and the area around Chamonix in France - even in the summer they are great places for hiking and relaxing away from the busy cities.
      <br><br>
      Or maybe I am really in for the apres ski drinks afterwards and the amazing food on the slopes?
      </p>
    </div>
  </div>
  <div class="interest-item">
    <img src="https://res.cloudinary.com/lmn/image/upload/c_limit,h_360,w_640/e_sharpen:100/f_auto,fl_lossy,q_auto/v1/gameskinnyc/e/s/p/esports-grow-blizzard-d32dd.jpg" />
    <div class="interest-item-infos">
      <h1>Competitive Gaming</h1>
      <p>My first ever attempt at joining the competitive gaming scene was back in 2001, when I discovered an amazing game called StarCraft and started visiting the local internet cafe way too often.
        <br><br>
        8 years and tens of tournaments later (I was lucky enough to visit Greece, Serbia, the Czech Republic and many towns in Bulgaria), I decided that this is not something you can make a career out of. <br>
        (2020 edit: Boy, was I wrong!)
      </p>
    </div>
  </div>
  <div class="interest-item">
    <img src="https://static.actu.fr/uploads/2019/11/babyfoot.jpeg" />
    <div class="interest-item-infos">
      <h1>Table football</h1>
      <p>I used to spend almost all my pocket money on table football back in high-school. I am not sure what I learned or earned out of this, but it was loads of fun!
        <br><br>
        About 15 years later (in 2019), I won the table football tournament organised by the social committee in my company - maybe that is what it was all about?
      </p>
    </div>
  </div>
</div>
