---
title: Vladi Angelov - Interests
---
<div class="my-content">
  <h1>Interests</h1>
  <% data.interests.each do |interest| %>
    <%= partial(:'partials/interest_card', locals: {
      name: interest.name,
      image_address: interest.image_address,
      description: interest.description
    }) %>
  <% end %>
</div>
