---
title: Vladi Angelov
---

<div class="my-content">
  <div>
    <h1>Projects</h1>
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://singularityhub.com/wp-content/uploads/2018/11/young-gamer-playing-video-game_shutterstock_624801452-1068x601.jpg)">
    findYourTeam
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Cloud Chef
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img-res.pitchero.com/?url=images.pitchero.com%2Fui%2F3539839%2Fimage_5c3ddd5347153.jpg&w=1200&h=630&t=frame)">
    Crawley Volleyball
  </div>
</div>
