---
title: Vladi Angelov - Projects
---
<div class="my-content">
  <h1>Small Personal Projects</h1>
  <% data.projects.each do |project| %>
    <%= partial(:'partials/project_card', locals: {
        image_address: project.image_address,
        left_ribbon: project.left_ribbon,
        right_ribbon: project.right_ribbon,
        title: project.title,
        description: project.description,
        external_link: project.external_link
      }) %>
  <% end %>
</div>


