---
title: Vladi Angelov - Projects
---
<div class="my-content">
  <h1>Projects</h1>
  <div class="view view-first">
    <%= image_tag '/images/findyourteam.jpg' %>
    <div class="mask">
      <div class="ribbon ribbon-top-left"><span>In Development</span></div>
      <h2>findYourTeam</h2>
      <p>My final project at Le Wagon - eSports social team platform</p>
      <a href="https://find-yourteam.herokuapp.com/" target ="blank" class="info">Go To The Website</a>
    </div>
  </div>
  <div class="view view-first">
    <%= image_tag '/images/crawley_volley.jpg' %>
    <div class="mask">
      <div class="ribbon ribbon-top-left"><span>In Development</span></div>
      <h2>Crawley Volleyball Club</h2>
      <p>My solo project to build a web page for my volleyball team</p>
      <a href="https://crawleyvolleyball.herokuapp.com/" target ="blank" class="info">Go To The Website</a>
    </div>
  </div>
  <div class="view view-first">
    <%= image_tag '/images/cloudchef.jpg' %>
    <div class="mask">
      <h2>CloudChef</h2>
      <p>My first team project at Le Wagon - home cooking for hire</p>
      <a href="https://cloudchef.herokuapp.com" target ="blank" class="info">Go To The Website</a>
    </div>
  </div>
</div>


