---
title: Vladi Angelov - Projects
---
<div class="my-content">
  <h1>Small Personal Projects</h1>
  <div class="view view-first">
    <%= image_tag '/images/crawley_volley.jpg' %>
    <div class="mask">
      <div class="ribbon ribbon-left"><span>In Development</span></div>
      <div class="ribbon ribbon-right"><span>Responsive</span></div>
      <h2>Crawley Volleyball Club</h2>
      <p>My solo project to build a web page for my volleyball team</p>
      <a href="http://www.crawleyvolleyball.co.uk/" target ="blank" class="info">Go To The Page</a>
    </div>
  </div>
  <div class="view view-first">
    <%= image_tag '/images/pair_up.png' %>
    <div class="mask">
      <div class="ribbon ribbon-right"><span>Mobile first</span></div>
      <h2>Pair Up Card Game</h2>
      <p>A small vanilla JS project with Django backend</p>
      <a href="https://pair-up-game.herokuapp.com/" target ="blank" class="info">Go To The Page</a>
    </div>
  </div>
  <div class="view view-first">
    <%= image_tag '/images/findyourteam.jpg' %>
    <div class="mask">
      <div class="ribbon ribbon-left"><span>In Development</span></div>
      <div class="ribbon ribbon-right"><span>Desktop only</span></div>
      <h2>findYourTeam (MVP)</h2>
      <p>My final project at Le Wagon - eSports social team platform</p>
      <a href="http://www.gofindyourteam.com/" target ="blank" class="info">Go To The Page</a>
    </div>
  </div>
  <div class="view view-first">
    <%= image_tag '/images/cloudchef.jpg' %>
    <div class="mask">
      <div class="ribbon ribbon-right"><span>Desktop only</span></div>
      <h2>CloudChef (MVP)</h2>
      <p>My first team project at Le Wagon - home cooking for hire</p>
      <a href="https://cloudchef.herokuapp.com" target ="blank" class="info">Go To The Page</a>
    </div>
  </div>
</div>


